torch
xformers
bitsandbytes
transformers
peft
accelerate
datasets
trl
unsloth @ git+https://github.com/unslothai/unsloth.git

# Для удостоверения, что CUDA установлена правильно, можно использовать следующую команду:
# python3 -c "import torch; print(torch.cuda.is_available()); print(torch.version.cuda)"

# Если "pip install -r requirements-dev.txt" не сработает, попробуйте выполнить команды:
# pip install setuptools wheel
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu126
# pip install xformers --index-url https://download.pytorch.org/whl/cu126
# pip install "unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git"
# pip install trl peft accelerate datasets bitsandbytes

# cd ~/Projects/stt
# git clone https://github.com/ggerganov/llama.cpp
# cd llama.cpp
# pip install -r requirements.txt
# sudo apt update && install cmake build-essential
# cmake -B build
# cmake --build build --config Release
# python3 llama.cpp/convert_hf_to_gguf.py model_gguf --outtype f16 --outfile model-f16.gguf
# ./llama.cpp/build/bin/llama-quantize model-f16.gguf final_model_q4_k_m.gguf q4_k_m
# rm model-f16.gguf
